{% load static %}
<html>
<head>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>


{% block conteiner %}
{% endblock %}

  <script>
    // Função para abrir o modal e definir o título e a ação do formulário
    function openModal(isEdit, data = {}) {
        const modal = document.getElementById('ListaModal');
        const form = document.getElementById('ListaForm');
        const modalTitle = document.getElementById('modalTitle');

        if (isEdit) {
            modalTitle.innerText = 'Editar Lista';
            form.titulo.value = data.titulo;
            form.dataset.todoId = data.id;
        } else {
            modalTitle.innerText = 'Nova Lista';
            form.reset();
            form.dataset.todoId = '';
        }

        modal.style.display = 'flex';
    }

    document.getElementById('addLista').addEventListener('click', function() {
        openModal(false);
    });

    document.querySelectorAll('.edit-todo-btn').forEach(function(button) {
        button.addEventListener('click', function() {
            const todoId = this.getAttribute('data-todo-id');
            fetch(`/editar/${todoId}/`)
                .then(response => response.json())
                .then(data => {
                    openModal(true, { id: todoId, titulo: data.titulo });
                })
                .catch(error => console.error('Error:', error));
        });
    });

     // Script para atualizar Status da lista
     document.querySelectorAll('.todo-complete-checkbox').forEach(function(checkbox) {
        checkbox.addEventListener('change', function() {
          let todoId = this.getAttribute('data-todo-id');
          fetch(`/todos/toggle-complete/${todoId}/`, {
            method: 'POST',
            headers: {
              'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value
            },
          })
          .then(response => response.json())
          .then(data => {
            if (!data.success) {
              console.error(data.error);
              this.checked = !this.checked; // Reverter a mudança se houver um erro
            }
          })
          .catch(error => console.error('Error:', error));
        });
      });

    // Script para editar lista
    document.getElementById('ListaForm').addEventListener('submit', function(event) {
        event.preventDefault();

        let formData = new FormData(this);
        let todoId = this.dataset.todoId;
        let url = todoId ? `/editar/${todoId}/` : "{% url 'index' %}";

        fetch(url, {
            method: 'POST',
            headers: {
                'X-CSRFToken': formData.get('csrfmiddlewaretoken')
            },
            body: formData
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                document.getElementById('ListaModal').style.display = 'none';
                location.reload();
            } else {
                console.log(data.errors);
            }
        })
        .catch(error => console.error('Error:', error));
    });

    document.querySelector('.closeBtn').addEventListener('click', function() {
        document.getElementById('ListaModal').style.display = 'none';
    });

    window.addEventListener('click', function(event) {
        if (event.target == document.getElementById('ListaModal')) {
            document.getElementById('ListaModal').style.display = 'none';
        }
    });

    document.addEventListener('DOMContentLoaded', function() {
        const taskList = document.getElementById('task-list');
        Array.from(taskList.children).forEach(item => {
            item.classList.add('fade-enter');
            setTimeout(() => {
                item.classList.add('fade-enter-active');
            }, 10);
        });

        document.getElementById('form-pesquisa').addEventListener('submit', function(event) {
            event.preventDefault();
            const form = event.target;
            Array.from(taskList.children).forEach(item => {
                item.classList.remove('fade-enter', 'fade-enter-active');
                item.classList.add('fade-exit-active');
            });

            setTimeout(() => {
                form.submit();
            }, 500);
        });
    });


     //script para apagar uma tarefa 
     document.querySelectorAll('.delete-todo-btn').forEach(function(button) {
      button.addEventListener('click', function() {
        if (confirm('Tem certeza que deseja apagar essa lista ?')) {
          let todoId = this.getAttribute('data-todo-id');
          fetch(`/todos/delete/${todoId}/`, {
            method: 'POST',
            headers: {
              'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value
            },
          })
          .then(response => response.json())
          .then(data => {
            console.log(data);
            if (data.success) {
              let todoItem = document.querySelector(`li[data-todo-id="${todoId}"]`);
              location.reload(); // Recarrega a página após a exclusão
              if (todoItem) {
                todoItem.remove();
              }
            } else {
              console.error(data.error);
            }
          })
          .catch(error => console.error('Error:', error));
        }
      });
    });  

    // Confirmação do Logout
    function confirmLogout(event) {
      event.preventDefault(); // Evita o envio imediato do formulário
      var userConfirmed = confirm("Você tem certeza que deseja sair?");
      if (userConfirmed) {
          // Envia o formulário
          event.target.closest('form').submit();
      }
  }
</script>
</html>
  
  
