{% load static %}
<html lang="pt-br">
  <head>
    <title>LISTA</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
  </head>
  <body class="body">

    <div class="container">
        <h1 class="titulo">Lista</h1> <button class="botao-add" type="button" id="addLista">+</button>
        {% for lista in lista %}

        <h3>
            <label class="custom-checkbox">
                {{ lista.titulo }}
                <input type="checkbox" class="todo-complete-checkbox" data-todo-id="{{ lista.id }}" {% if lista.status %}checked{% endif %}>
                <span class="checkmark"></span>
            </label>
        </h3>

        {% endfor %}
    </div>

    <div id="ListaModal" style="display: none;">
        <div class="modal-content">
        <h4>Nova Lista</h4>
        <form id="ListaForm">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Salvar</button>
        </form>
        </div>
    </div>
  </body>


  {% comment %} Script para abrir modal e recarregar página se o Formulário tiver sido salvo com sucesso {% endcomment %}
  <script>
    document.getElementById('addLista').addEventListener('click', function() {
      document.getElementById('ListaModal').style.display = 'flex';
    });
  
    document.getElementById('ListaForm').addEventListener('submit', function(event) {
      event.preventDefault();
  
      let formData = new FormData(this);
      fetch("{% url 'index' %}", {
        method: 'POST',
        headers: {
          'X-CSRFToken': formData.get('csrfmiddlewaretoken').value
        },
        body: formData
      })
      .then(response => response.json())
      .then(data => {
        if (data.success) {
          document.getElementById('ListaModal').style.display = 'flex';
          location.reload();
          console.log(data.errors);
        }
      })
      .catch(error => console.log('Error:', error));
    });


    {% comment %} Script para atualizar Status da lista {% endcomment %}
    document.querySelectorAll('.todo-complete-checkbox').forEach(function(checkbox) {
        checkbox.addEventListener('change', function() {
          let todoId = this.getAttribute('data-todo-id');
          fetch(`/todos/toggle-complete/${todoId}/`, {
            method: 'POST',
            headers: {
              'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value
            },
          })
          .then(response => response.json())
          .then(data => {
            if (!data.success) {
              console.error(data.error);
              this.checked = !this.checked; // Reverter a mudança se houver um erro
            }
          })
          .catch(error => console.error('Error:', error));
        });
      });

  </script>
</html>