{% extends 'base.html' %}
{% block title %} Lista {% endblock %}
{% block conteiner %}
<html lang="pt-br">

  <body class="body">
    <div class="side-platform">
      <div class="user-icon">
        <!-- Espaço para a foto do usuário -->
        <img src="https://api.dicebear.com/8.x/bottts/svg?seed=Princess" alt="User Photo">
      </div>
      <div class="logout-icon">
        <!-- Botão de logout -->
        <form method="post" action="{% url 'logout' %}">
          {% csrf_token %}
          <button type="submit">Logout</button>
        </form>
      </div>
    </div>
    <div class="container">
      <div>
        <h1 class="titulo">Lista de tarefas</h1> <button class="botao-add" type="button" id="addLista">+</button>
        <form method="get" action="" class="form-pesquisa" id="form-pesquisa">
          {{ form_pesquisa.as_p }} <button type="submit"><i class="fas fa-search"></i></button>
        </form>
      </div>
        {% for lista in lista %}
      <div id="task-list">
        <h3 class="listas" >
            <label class="custom-checkbox">
                {{ lista.titulo }}
                <input type="checkbox" class="todo-complete-checkbox" data-todo-id="{{ lista.id }}" {% if lista.status %}checked{% endif %}>
                <span class="checkmark"></span>
                <div class="task-buttons">
                  <button class="delete-todo-btn" data-todo-id="{{ lista.id }}">&#x2715;</button>
                  <button class="edit-todo-btn" data-todo-id="{{ lista.id }}">✏️</button>
                </div>
            </label>
        </h3>
        {% empty %}
        <li>Não foram encontrados itens relacionados a sua pesquisa.</li>
      </div>
        {% endfor %}
    </div>

    <div id="ListaModal" style="display: none;">
      <div class="modal-content">
          <span class="closeBtn">&times;</span>
          <h4 id="modalTitle">Nova Lista</h4>
          <form id="ListaForm" data-todo-id="">
              {% csrf_token %}
              {{ form.as_p }}
              <button type="submit">Salvar</button>
          </form>
      </div>
  </div>
  </body>

{% endblock %}